<template>
    <div class="ui icon input" style="width: 100%">
    <input type="text" v-model="searchQuery" v-on:change="test" placeholder="Search..." />
    <i class="search icon"></i>
  </div>
<div class="ui cards" style="margin: 10px">
    <div
      class="card ui fluid"
      v-for="produit in nourriture"
      :key="produit.fdcId"
      style="margin: 0"
    >
      <div class="content">
        <div class="header">{{ produit.description }}</div>
        <div class="meta">
          {{ produit.score }} | {{ produit.servingSize }} {{produit.servingSizeUnit}} |
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import {reactive,onMounted, ref,computed} from "vue"
export default{
    setup(){
        const nourriture = reactive([])
        const searchQuery = ref("");
        console.log(searchQuery.value)

        const searchedProducts = computed(() => {

        console.log(searchQuery);
        return nourriture.filter((produit) => {
            return (
            produit.description
                .toLowerCase()
                .indexOf(searchQuery.value.toLowerCase()) != -1
            );
        });
        });

        

        onMounted(async ()=>{
            try{
                const response = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search?query="+searchQuery+"&pageSize=5&api_key=Clc1gTYI1KaIAAY5sESrzahhRyLiWxHPaHSoEQiC")
                .then(response=>{
                    let foods = response.data.foods
                    foods.forEach((food)=>{
                        nourriture.push(food)
                    })
                })
            }catch(e){
                console.log("erreur")
            }
        })
        return { nourriture, searchQuery };
    }
    

};
</script>