<template>
    <button v-on:click="onClick">Click me</button>
</template>

<script lang="ts">
import axios from "axios"
export default{
    methods:{
        async onClick(){
            console.log(import.meta.env.VUE_APP_API_KEY);
            const test = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search?query=hamburger&pageSize=20&api_key=Clc1gTYI1KaIAAY5sESrzahhRyLiWxHPaHSoEQiC");
            console.log(test);
        }
    }
}
</script>