
<template>
    <div class="ui icon input" style="width: 100%">
    <input type="text" v-model="inputText" @input="onInput" placeholder="Search..." />
    <i class="search icon"></i>
  </div>
<div class="ui cards" style="margin: 10px">
    <div
      class="card ui fluid"
      v-for="produit in results"
      :key="produit.fdcId"
      style="margin: 0"
      @click="goToDetails(produit.fdcId)"
    >
      <div class="content">
        <p>id : {{ produit.fdcId }}</p>
        <div class="header">{{ produit.description }}</div>
        <div class="meta">
          {{ produit.score }} | {{ produit.servingSize }} {{produit.servingSizeUnit}} |
        </div>
      </div>
    </div>
  </div>
</template>

  
<script lang="ts">
  export default {
    data() {
      return {
        inputText: "",
        results: []
      };
    },
    methods: {
      async onInput() {
        try {
          const response = await fetch(`https://api.nal.usda.gov/fdc/v1/foods/search?query=${this.inputText}&pageSize=5&api_key=Clc1gTYI1KaIAAY5sESrzahhRyLiWxHPaHSoEQiC`);
          const results = await response.json();
          this.results = []
          results.foods.forEach((food : any)=>{
            this.results.push(food)
          })
        } catch (error) {
          console.error(error);
        }
      },
      goToDetails(id:any) {
        console.log(id)
      this.$router.push({ name: 'details', params: { identifiant:id}});
    }
    }
  };
  </script>
  