<template>
    <div>
        <p>{{ greeting }}</p>
    </div>
</template>
<script lang="ts">
import { defineComponent} from 'vue';
export default defineComponent({
    name: 'Hello',
    props: {
    name: {
        type: String ,
        required: true,
    },
    },
    computed: {
        greeting(): string {
        return `Hello, ${this.name}!`;
    },
    },
});
</script>