<template>
  <div v-for="produit in produits">
  <v-card
    class="mx-auto"
    max-width="100%"
  >
    <v-card-title class="text-center">
    {{ produit.nom }}
    <v-spacer>Score: {{ produit.score }}</v-spacer>
    </v-card-title>
    <v-card-actions>
      <v-btn
        :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
        @click="show = !show"
      ></v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
            <v-table>
          <thead>
              <tr>
                  <th class="text-left">
                      Ingrédient
                  </th>
                  <th class="text-left">
                      Calories
                  </th>
                  <th class="text-left">
                      Score
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr
              v-for="nutriment in produit.nutriments"
              >
              <Nutriments :nutriment="nutriment.nutrient"></Nutriments>
              </tr>
          </tbody>
      </v-table>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</div>


</template>
<script lang="ts">
import { useConsommationStore } from '@/stores/consommation';
import { defineComponent } from 'vue';
import Nutriments from '../components/Nutriments.vue'
export default defineComponent({
  data:()=>({
    show:false
  }),
  setup(){
      const consommations = useConsommationStore()
      const produits = consommations.produits
      
      return {produits}
  },
 
  components:{
    Nutriments
  }
});

</script>