
<template>
<div class="text-center">
    <h1>Details produit : {{details.actualResult.description }}</h1>
    <p >Nutriscore: {{ nutriScore }}</p>
    <v-btn @click="addConsommation(nutriScore)">Ajouter la consommation</v-btn>
</div>
    <v-table>
        <thead>
            <tr>
                <th class="text-left">
                    Ingrédient
                </th>
                <th class="text-left">
                    Calories
                </th>
                <th class="text-left">
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
            v-for="nutriment in details.actualResult.foodNutrients"
            >
            <Nutriments :nutriment="nutriment.nutrient"></Nutriments>
            </tr>
        </tbody>
    </v-table>
   
</template>
  

<script lang="ts">
import { defineComponent } from 'vue';
import Nutriments from '@/components/Nutriments.vue';
import { useDetailsStore } from '@/stores/details';
import { useRoute } from 'vue-router';
import { useConsommationStore } from '@/stores/consommation';
export default defineComponent({
    data(){
        return{details : useDetailsStore()}
    },
    setup(){
  
        const route = useRoute()
        const details = useDetailsStore()

        const id = route.params.identifiant as string;
        const nutriScore = Math.abs(parseFloat(route.params.score as string));

        details.get(id,nutriScore)
        return {details, nutriScore}
    },
    methods:{
        addConsommation(score:number){
            const consommation = useConsommationStore()
            consommation.add(
                this.details.history[this.details.history.length -1].id,
                score
            )
        },
    },
    components:{
        Nutriments
    },
});

</script>

  