<script setup lang="ts">
import Historique from '../components/Historique.vue'
import SearchBar from '../components/SearchBar.vue'
</script>

<template>
  <main>
    <SearchBar></SearchBar>
  </main>
</template>
  