<template>
    <v-container>
    <v-row>
      <v-col
      v-for="produit in history"
      @click="goToDetails(produit.id, produit.score)"
      >
    <v-card height="80">
      <v-card-title justify="center">{{ produit.nom }}</v-card-title>
      <v-card-subtitle>{{ produit.score }}</v-card-subtitle>
    </v-card>
    </v-col>
    </v-row>
  </v-container>


</template>

<script lang="ts">
import { useDetailsStore } from '@/stores/details';
import { defineComponent } from 'vue';

export default defineComponent({
    setup(){
    const details = useDetailsStore()
    const history = details.history
    return {history}
    },
    methods:{
        goToDetails(id:any,score:any) {
        this.$router.push({ name: 'details', params: { identifiant:id, score:score}});
    }
    }
})
</script>