<template>
    <td>{{ nutriment.name }}</td>
    <td>{{ nutriment.number }}{{ nutriment.unitName }}</td>
    <td>{{ nutriment.rank }}</td>
</template>

<script lang="ts">
import { defineComponent, type PropType } from 'vue';
import type Nutriment from '../interfaces/Nutriment';
export default defineComponent({
    props:{
        nutriment :{
            type: Object as PropType<Nutriment>,
            required: true,
            },
   }
});

</script>

<style scoped>
</style>    