
<template>

  <v-text-field 
  type="text"
  v-model="inputText"
  @input="onInput" placeholder="Search..." 
  color="success"
  loading
  enabled
  ></v-text-field>

  <v-container>
    <v-row>
      <v-col
      v-for="produit in results"
      @click="goToDetails(produit.fdcId, produit.score)"
      >
    <v-card height="200">
      <v-card-title justify="center">{{ produit.description }}</v-card-title>
      <v-card-subtitle>{{ produit.score }}</v-card-subtitle>
      <v-card-text v-if="produit.servingSize">Poids: {{ produit.servingSize }}{{ produit.servingSizeUnit }}</v-card-text>

    </v-card>
    </v-col>
    </v-row>
  </v-container>
</template>

  
<script lang="ts">
import axios from 'axios';
import { defineComponent } from 'vue';
import type Food from '../interfaces/Food';

  export default defineComponent({
    data() {
      return {
        inputText: "",
        results: [] as Food[],
      };
    },
    methods: {
      async onInput() {
        try {
            const response = await axios.get(`https://api.nal.usda.gov/fdc/v1/foods/search?query=${this.inputText}&pageSize=5&api_key=Clc1gTYI1KaIAAY5sESrzahhRyLiWxHPaHSoEQiC`);
            const results = response.data;
            this.results = []
            results.foods.forEach((r : any)=>{
              //Pour plus avoir les ptn d'erreur sur la template
              const food: Food = {
                description : r.description,
                fdcId: r.fdcId,
                score: Math.abs(parseFloat(r.score)),
                servingSize: r.servingSize,
                servingSizeUnit: r.servingSizeUnit

              }
                this.results.push(food)
            })
        } catch (error) {
          console.error(error);
        }
      },
      goToDetails(id:any,score:any) {
      this.$router.push({ name: 'details', params: { identifiant:id, score:score}});
    }
    }
  });
</script>
<style scoped>
input[type="text"] {
    width: 100%;
    padding: 20px 10px;
}

.content {
    background-color: #474747;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    box-shadow: 2px 3px 5px white;
    border-radius: 13px;
}
.content:hover{
    cursor: pointer
}
</style>
  