<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import 'vuetify/dist/vuetify.min.css'
</script>

<template>
  <header>
    <div class="d-flex justify-space-around align-center flex-column flex-sm-row fill-height pa-3">
      <img alt="Guilhem" class="logo" src="@/assets/menu.png" width="125" height="125" />

    </div>
    <div class="d-flex justify-space-around align-center flex-column flex-sm-row fill-height pa-3">
   
      <v-btn to="/" >
        Accueil
      </v-btn>
      <v-btn to="/consommation">
        Consommations
      </v-btn>
      <v-btn to="/historique">
        Historique
      </v-btn>
    </div>
  </header>
  <RouterView />
</template>

